.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
 
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  

  .leaderboard {
   
    padding: 10px;
    width: 200px;
  }
  
  .leaderboard__player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .leaderboard__player__name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .leaderboard__player__score {
    color: #888;
  }
  
  
  